/* 
gitrengeki website styling
Created by: GitRengeki
Date Created: 24/02/2022 
*/

/* scrollbar css */
::-webkit-scrollbar-track{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: var(--dullblack);
}

::-webkit-scrollbar{
	width: 12px;
	background-color: var(--dullblack);
}

::-webkit-scrollbar-thumb{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--green);  
}
